# Simple server config (key=value)
Port=47808
DebugLevel=INFO
VendorName=AcmeBMS
VendorIdentifier=1234
ModelName=Acme BACnet Server v1

#DebugLevel: (logging level name (e.g. DEBUG, INFO, WARNING) or numeric level.)
#VendorName: ( string used for LocalDeviceObject.vendorName.)
#VendorIdentifier: ( numeric vendor identifier used for LocalDeviceObject.vendorIdentifier.)
#ModelName: (string used for LocalDeviceObject.modelName.)
